@import 'variables';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

    &__content {
      width: 100%;
      max-width: 1280px;
      flex: 1;
      margin: $spacings-M 0;
      display: flex;
      flex-direction: column;
    }
}